# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_HOST=postgres

# Airflow User (created during init)
_AIRFLOW_WWW_USER_USERNAME=airflow-dev
_AIRFLOW_WWW_USER_PASSWORD=airflow-dev

# Airflow UID (optional, used for file permissions)
AIRFLOW_UID=50000

# Airflow configuration
AIRFLOW__API_AUTH__JWT_SECRET=dowb2Pq1pnLxdNpJN7cDHo8rcAaAU0UTWRBvQBwitUE
AIRFLOW__CORE__FERNET_KEY="rvG073XTiiSV5P0fqDjJ3O6oXfV31b32fDQXHn51E2s="

COMPOSE_PROJECT_NAME=ufes-dw

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=UfesGDBDW
MONGO_INITDB_DATABASE=root

HOSTNAME=ufes
AIRFLOW_GID=7777
AIRFLOW_USER=ufes
AIRFLOW_PASSWORD=airflow
AIRFLOW_IMAGE_NAME=airflow/airflow-ufes:latest
VERSION=1.1.0
AIRFLOW_PROJ_DIR="."
POSTGRES_VOLUME=postgres-db-volume

NETWORK="network-airflow-ufes-dw"